.wrapper {
  width: 641px;
  height: 588px;
  padding: 44px;
  border-radius: 10px;
  border: 1px solid var(--gray-light);
  background-color: var(--white);
}

.title {
  margin-bottom: 8px;
  color: var(--main);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.text {
  color: var(--gray);
  font-size: 16px;
}

.form {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  padding: 18px;
  width: 527px;
  background-color: var(--inputs);
  border-radius: 12px;
  outline: none;
  border: none;
  color: var(--main);
  font-size: 16px;
  resize: none;
}

input[type="date"] {
  color: var(--main);
}

.input::placeholder {
  color: var(--gray);
}

.error {
  color: var(--button);
  font-size: 16px;
  font-weight: 500;
}
.button {
  margin: 0 auto;
  width: 166px;
}
